* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* background is white by default but added for clarity */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: white;
  width: 100%;
}

.hamburger {
  position: fixed;
  /* a large z-index puts the ham button above the rest of the page*/
  z-index: 99;
  background: white;
  border: none;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}

.menu {
  position: fixed;
  /* give the menu a larger z-index than the ham link
  to put the menu above it */
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  /* basic menu styling*/
  list-style: none;
  background: #bbb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* animate slide left/right */
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.menu li a{
  border: 3px solid #999;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 45px;
}

.close {
  position: absolute;
  border: none;
  color: white;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}

.close figure img{
    width: 19px;
    height: 25.5px;
}

.hamburger figure img{
    width: 22px;
    height: 25.5px;
}

.menu:target {
  /* show menu */
  transform: translateX(0);
}

a:visited,
a:link,
a:hover,
a:active{
  text-decoration: none;
  color: black;
}
