*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#list{
    background-color: lightsteelblue;
}

#sub-list-1, #sub-list-2, #sub-list-3{
    background-color: rgb(82, 107, 141);
}


.sub-list{
    border: 1px solid rgb(24, 43, 70);
    border-top: none;
    position: relative;
    z-index: -1;
    transform: translateY(-100%);
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    transition: 0.3s ease-in-out;
}

.sub-opcion{
    padding: 6px 0;
    text-align: center;
}

.flex{
    display: flex;
}

.sub-menus{
    justify-content: space-around;
}

.link{
    padding: 8px 0;
    flex-grow: 1;
    text-align: center;
    border: 1PX solid;
}

#sub-list-1:target, #sub-list-2:target, #sub-list-3:target{
    transform: translateY(0);
}

ul{
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: inherit;
}