*{
    margin: 0;
    padding: 0;
}

body{
    width: 480px;
    margin: 150px auto 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #222222;
    color: #aaaaaa;
}

ul{
    list-style: none;
    /*border: 1px solid white;*/
    padding: 0 8px;
}

li{
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

h1{
    font-size: 1.3em;
    font-weight: 3px;
    /*border: 1px solid white;*/
    padding: 8px;
}

.check{
    width: 13px;
    height: 13px;
    border: 3px solid #aaa;
    border-radius: 100%;
}

.check::before{
    transition: background 0.25s linear;
}

input[type=radio]{
    visibility: hidden;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

li:hover{
    color: #fff;
    transition: .25s linear;
}

li:hover .check{
    border-color: #fff;
    transition: border .25s linear;
}
